<div class="col-md-2 content">
      <div class="video-items">
        <div class="item"> Video 1 </div>
      </div>
      <div class="video-items">
        <div class="item"> Video 1 </div>
      </div>
      <div class="video-items">
        <div class="item"> Video 1 </div>
      </div>
      <div class="video-items">
        <div class="item"> Video 1 </div>
      </div>
      <div class="video-items">
        <div class="item"> Video 1 </div>
      </div>
      <div class="video-items">
        <div class="item"> Video 1 </div>
      </div>
    </div>